body {
  background-color: #212529;
  color: #adb5bd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  min-height: 90vh;
}

.banner {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  height: 155px;
}
.banner-left {
  width: 30vw;
}
.banner-right {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-right: 20vw;
}

.banner h1 {
  text-align: center;
  font-size: 43px;
}
.nav-item {
  display: block;
  line-height: 48px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: inline;
  position: relative;
}

.nav-item:hover {
  color: #212529;
  display: inline-block;
  background: #adb5bd;
}

.navbar-main-container {
  text-align: center;
  background: black;
  color: #fff;
  height: 48px;
  padding-left: 18px;
  border-radius: 0px;
}
.h1-home-page,
.h1-ex-page {
  text-align: center;
  color: #f8f9fa;
}
.home-page {
  display: flex;
  font-size: large;
  flex-direction: column;
  align-items: center;
}

.strong-home {
  font-size: 40px;
}

.p-home-page {
  margin: 15px;
  display: flex;
}

.best-users-list {
  list-style-type: 1;
  background-color: #343a40;
  margin: 25px;
  padding: 0px 40px;
}

.li-users-list {
  font-size: 16px;
  color: #f8f9fa;
}

.h1-list {
  color: #f8f9fa;
}

.ranks-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data {
  font-weight: bolder;
}

.user-profile {
  color: #f8f9fa;
  margin: 5px;
  width: 25%;
  text-align: center;
  display: inline;
}
.user-helper-container {
  background-color: #343a40;
  padding: 3px;
  margin: 0 auto;
  width: 20%;
}

a {
  text-decoration: none;
}

.btn-add,
.btn-sub,
.btn-mul,
.btn-div {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #dee2e6;
  font-family: Arial;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-add span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/add-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-sub span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/sub-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-mul span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/mul-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-div span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/div-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-next span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/next-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-add:hover,
.btn-sub:hover,
.btn-mul:hover,
.btn-div:hover,
.btn-next:hover {
  background: linear-gradient(to right, #5f6265, #82898f);
  background-color: #5f6265;
}
.btn-add:active,
.btn-sub:active,
.btn-mul:active,
.btn-div:active,
.btn-next:active {
  transform: scale(0.95);
}
.ex-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.dividing-container,
.adding-container,
.subtraction-container,
.multiplication-container {
  text-align: center;
}
.number-main-container {
  display: flex;
}

.num-container {
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.number-input {
  width: 90px;
  height: 50px;
  font-size: 40px;
  background-color: #343a40;
  border: none;
  color: #adb5bd;
}
.btn-next {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #dee2e6;
  font-family: Arial;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  height: 52px;
  margin-left: 10px;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  border-radius: 20px;
  display: grid;
  margin: 10vh auto;
  width: 300px;
  background-color: #495057;
  padding: 50px;
  height: 300px;
}
.login-input-nick,
.login-input-password {
  color: #f8f9fa;
  text-align: center;
  border-radius: 15px;
  background-color: #adb5bd;
  border: 0px;
  height: 40px;
  margin: 10px;
}

.login-input-nick {
  background-image: url(http://127.0.0.1:8000/media/static/images/acc-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.login-input-password {
  background-image: url(http://127.0.0.1:8000/media/static/images/pass-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.login-input-sbmit:disabled {
  opacity: 0.4;
}
.login-input-sbmit {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #adb5bd;
  margin: 0 auto;
  background-image: url(http://127.0.0.1:8000/media/static/images/login.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
  height: 50px;
  width: 120px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 3px 10px 40px;
  border: 0px solid #000;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.login-input-sbmit:hover {
  background: linear-gradient(to right, #5f6265, #82898f);
  background-color: #5f6265;
}
.login-input-sbmit:active {
  transform: scale(0.95);
}

.a-login-form {
  color: #000;
  font-weight: bolder;
}

.error-message {
  color: black;
  font-weight: bolder;
}

.login-input-nick::-webkit-input-placeholder,
.login-input-password::-webkit-input-placeholder {
  color: #f8f9fa;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
  text-decoration: underline 2px;
}
