body {
  background-color: #212529;
  color: #adb5bd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(http://127.0.0.1:8000/media/static/images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  min-height: 96vh;
}

.banner {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  height: 155px;
}
.banner-left {
  width: 30vw;
}
.banner-right {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-right: 20vw;
}

.banner h1 {
  text-align: center;
  font-size: 43px;
}
.nav-item {
  display: block;
  line-height: 48px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: inline;
  position: relative;
}

.nav-item:hover {
  color: #212529;
  display: inline-block;
  background: #adb5bd;
}

.navbar-main-container {
  text-align: center;
  background: black;
  color: #fff;
  height: 48px;
  padding-left: 18px;
  border-radius: 0px;
}
.h1-home-page,
.h1-ex-page {
  text-align: center;
  color: #f8f9fa;
}
.home-page {
  display: flex;
  font-size: large;
  flex-direction: column;
  align-items: center;
}

.strong-home {
  font-size: 40px;
}

.p-home-page {
  margin: 15px;
  display: flex;
}

.best-users-list {
  list-style-type: 1;
  background-color: rgba(52, 58, 64, 0.9);
  border-radius: 10px;
  margin: 25px;
  padding: 0px 40px;
}

.li-users-list {
  font-size: 16px;
  color: #f8f9fa;
}

.h1-list {
  color: #f8f9fa;
}

.ranks-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data {
  font-weight: bolder;
}

.user-profile {
  color: #f8f9fa;
  margin: 5px;
  width: 25%;
  text-align: center;
  display: inline;
}
.user-helper-container {
  background-color: rgba(52, 58, 64, 0.9);
  padding: 3px;
  margin: 0 auto;
  width: 20%;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.btn-add,
.btn-sub,
.btn-mul,
.btn-div,
.make-test-btn,
.cheack-btn,
.open-password-page,
.es-btn,
.mid-btn,
.hard-btn,
.next-test-btn {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #dee2e6;
  font-family: Arial;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.btn-add span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/add-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.es-btn span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/easy.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.mid-btn span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/advanced.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.hard-btn span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/hard.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-sub span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/sub-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-mul span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/mul-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-div span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/div-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-next span,
.next-test-btn span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/next-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.make-test-btn span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/test-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.cheack-btn span {
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 29px;
  background-image: url(http://127.0.0.1:8000/media/static/images/cheack-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.btn-add:hover,
.btn-sub:hover,
.btn-mul:hover,
.btn-div:hover,
.btn-next:hover,
.make-test-btn:hover,
.cheack-btn:hover,
.open-password-page:hover,
.es-btn:hover,
.mid-btn:hover,
.hard-btn:hover,
.next-test-btn:hover {
  background: linear-gradient(to right, #5f6265, #82898f);
  background-color: #5f6265;
}
.btn-add:active,
.btn-sub:active,
.btn-mul:active,
.btn-div:active,
.btn-next:active,
.make-test-btn:active,
.cheack-btn:active,
.open-password-page:active,
.es-btn:active,
.mid-btn:active,
.hard-btn:active,
.next-test-btn:active {
  transform: scale(0.95);
}
.ex-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.dividing-container,
.adding-container,
.subtraction-container,
.multiplication-container {
  text-align: center;
}
.number-main-container {
  display: flex;
}

.num-container {
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.number-input,
.test-number-input {
  width: 90px;
  border-radius: 10px;
  height: 50px;
  font-size: 40px;
  background-color: #343a40;
  border: none;
  color: #adb5bd;
}
.btn-next {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #dee2e6;
  font-family: Arial;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  height: 52px;
  margin-left: 10px;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.login-form {
  border-radius: 20px;
  display: grid;
  margin: 10vh auto;
  width: 300px;
  background-color: #495057;
  background-image: url(http://127.0.0.1:8000/media/static/images/forms-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: 300px;
}
.register-form {
  border-radius: 20px;
  display: grid;
  margin: 10vh auto;
  width: 300px;
  background-color: #495057;
  background-image: url(http://127.0.0.1:8000/media/static/images/forms-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;

  max-height: 500px;
}
.change-password-form {
  border-radius: 20px;
  display: grid;
  margin: 10vh auto;
  width: 300px;
  background-color: #495057;
  background-image: url(http://127.0.0.1:8000/media/static/images/forms-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: 300px;
}

.login-input-nick,
.login-input-password,
.register-nickname,
.register-email,
.register-password1,
.register-password2,
.new-password,
.confirm-new-password,
.old-password {
  color: #f8f9fa;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(173, 181, 189, 0.4);
  border: 0px;
  height: 40px;
  margin: 10px;
}

.login-input-nick,
.register-nickname {
  background-image: url(http://127.0.0.1:8000/media/static/images/acc-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.register-email {
  background-image: url(http://127.0.0.1:8000/media/static/images/email-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.login-input-password,
.register-password1,
.register-password2 {
  background-image: url(http://127.0.0.1:8000/media/static/images/pass-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}
.login-input-sbmit:disabled,
.register-submit:disabled,
.submit-new-password:disabled {
  opacity: 0.4;
}
.login-input-sbmit {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #adb5bd;
  margin: 0 auto;
  background-image: url(http://127.0.0.1:8000/media/static/images/login.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
  height: 50px;
  width: 120px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 3px 10px 40px;
  border: 0px solid #000;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.submit-new-password {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #adb5bd;
  margin: 0 auto;
  background-image: url(http://127.0.0.1:8000/media/static/images/login.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
  height: 50px;
  width: 140px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 3px 10px 40px;
  border: 0px solid #000;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.register-submit {
  background: linear-gradient(to right, #343a40, #6c757d);
  background-color: #343a40;
  color: #adb5bd;
  margin: 0 auto;
  background-image: url(http://127.0.0.1:8000/media/static/images/login.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
  height: 50px;
  width: 150px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 3px 10px 40px;
  border: 0px solid #000;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.login-input-sbmit:hover,
.register-submit:hover,
.submit-new-password:hover {
  background: linear-gradient(to right, #5f6265, #82898f);
  background-color: #5f6265;
}
.login-input-sbmit:active,
.register-submit:active,
.submit-new-password:active {
  transform: scale(0.95);
}

.a-login-form {
  color: #f8f9fa;
  font-weight: bolder;
}

.error-message {
  color: #adb5bd;
  font-weight: bolder;
}

.login-input-nick::-webkit-input-placeholder,
.login-input-password::-webkit-input-placeholder,
.register-email::-webkit-input-placeholder,
.register-nickname::-webkit-input-placeholder,
.register-password1::-webkit-input-placeholder,
.register-password2::-webkit-input-placeholder,
.new-password::-webkit-input-placeholder,
.confirm-new-password::-webkit-input-placeholder,
.old-password::-webkit-input-placeholder {
  color: #f8f9fa;
  text-align: center;
}
.test-btn-container,
.test-form,
.cheack-btn-container {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.test-btn-container {
  margin: 10px;
}

.test-result-container {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.test-form {
  font-size: 30px;
}
td {
  padding: 3px;
}
.test-number-input {
  margin-left: 10px;
}
.user-profile-container {
  display: flex;
  justify-content: space-around;
}

.user-last-tests-container,
.p-change-password {
  font-size: 20px;
}

.last-tests-ol,
.change-password-container {
  text-align: center;
}

.site-footer {
  position: fixed;
  color: #adb5bd;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
}
.site-footer hr {
  border-top-color: #adb5bd;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #adb5bd;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
}
